@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
}

body {
  margin: 0;
  color: #f3f4f6;
  font-size: 14px;
  line-height: 1.65;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  font-feature-settings: 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1,
    'cv04' 1, 'liga', 'clig', 'calt';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #18181a;
  font-weight: 400;
  letter-spacing: 0.005em;
  font-variant: common-ligatures contextual;
  font-variation-settings: 'wght' 450;
}

*::selection {
  /* color: white; */
  background: #95a5ac40;
}

a:focus,
article a:focus {
  outline: none;
  opacity: 0.6;
}

article {
  /* font-weight: 450; */

  margin: auto;
  /* border: 1px solid white; */
  padding: 4rem 1rem 0;
  max-width: 44rem;
  line-height: 1.6;
  word-spacing: -0.04em;
  width: 100vw;
  white-space: pre-line;
}

article .content {
  margin: 2rem 0 5rem;
}

article .content > a {
  display: block;
}

article h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
  font-weight: 800;
  letter-spacing: -0.015em;
  font-variation-settings: 'wght' 650;
}

article h2 {
  margin-top: 0rem;
  font-size: 1.3em;
  font-weight: 600;
}

article h3 {
  font-size: 1.12em;
  margin-top: 0rem;
  font-weight: 500;
}

article p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  color: #d1d5db;
  font-size: 1rem;
  line-height: 1.6em;
  word-spacing: 0.04em;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.005em;
}

article blockquote {
  font-style: italic;
  margin: 1.5rem;
}

blockquote .zh-han {
  font-style: normal;
  font-family: Baskerville, 'Times New Roman', Times, 'Zhuyin Kaiti',
    'Han Kaiti', Kai, KaiTi, 'KaiTi SC', STKaiti, cursive;
  font-size: 1.04em;
}

article hr {
  border: 0px;
  height: 1px;
  background: #292c2d;
  /* border-color: #292c2d; */
  /* opacity: 0.05; */
  margin: 4rem 0px;
}

article li {
  margin: 0.25rem 0;
}

article li::marker {
  font-feature-settings: 'tnum';
}

article b {
  font-weight: 600;
}

article a {
  text-decoration: underline;
  color: #f3f4f6;
  text-decoration-color: #5e6365;
}

article p a:hover,
article li a:hover,
article blockquote a:hover {
  text-decoration: underline;
  text-underline-position: auto;
  cursor: pointer;
}

article .zh-han {
  word-break: break-all;
  text-align: justify;
  hanging-punctuation: allow-end;
}

article .meta {
  color: #666;
}

article code,
article pre {
  font-family: menlo, monaco, monospace;
  font-size: 0.98em;
  color: #555;
}

.post-list {
  margin: 2rem 0 5rem;
}

.post-item-projects {
  display: flex;
  margin-top: 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0;
  justify-content: space-between;
  clear: both;
}
.post-item-projects a {
  display: inline;
  margin-right: 1rem;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  letter-spacing: -0.02em;
  text-decoration: none;
}
.post-list hr {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  /* height: 0; */
}

.post-item-projects time {
  color: #666;
  font-size: 0.9rem;
  line-height: 2em;
}

.post-item {
  /* display: flex; */
  margin-top: 0rem;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
  /* justify-content: space-between; */
  clear: both;
}

.post-item a {
  display: inline;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.post-item time {
  color: #666;
  font-size: 0.8rem;
  line-height: 2em;
}

.media-container {
  position: relative;
  width: 100%;
  line-height: 0;
  margin: 1.5rem 0;
}

.media-container img,
.media-container video {
  position: absolute;
  width: 100%;
}

header {
  display: flex;
  margin: 0rem 0px 1rem;
  justify-content: space-between;
}

header nav {
  display: flex;
  font-size: 1rem;
  color: #f3f4f6;
}

header nav div {
  margin-left: 1rem;
}

header nav div a {
  color: inherit;

  text-underline-position: auto;
  cursor: pointer;
  text-decoration: underline;
  color: #f3f4f6;
  text-decoration-color: #5e6365;
  font-weight: 500;
}
/* a:link {
  text-decoration: underline;
  color: #f3f4f6;
} */
a:hover {
  opacity: 0.7;
}

header nav div a.active {
  text-decoration: none;
  cursor: default;
}
.bio-links {
  font-size: 1rem;
}
footer {
  max-width: 42rem;
  padding: 0 1rem;
  margin: -2rem 0 2rem;
  font-size: 0.8rem;
  color: #aaa;
  line-height: 1.2em;
}

footer abbr {
  display: inline-block;
  cursor: help;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* iOS */
@supports (-webkit-overflow-scrolling: touch) {
  /* missing font */
  blockquote .zh-han {
    color: #666;
    font-size: 1em;
    font-weight: 300;
    font-family: unset;
  }
}

@media screen and (max-width: 640px) {
  .post-item time {
    float: right;
  }
}
